
@media(max-width: 1400px){
    .inbox_outer .chat-window-box {
        max-height: 450px;
        height: auto;
    }
}
@media(max-width: 1199px){
    .recent_col {
        width: 25%;
    }
}

@media(max-width: 991px){
    .recent_col {
        width: 33.33%;
        text-align: center;
    }
}
@media(max-width: 650px){
    .recent_col {
        width: 50%;
    }
}
@media(max-width: 480px){
    .recent_col {
        padding: 0 5px;
    }
    .recent_p_box{
        margin-bottom: 10px;
    }
}
@media(max-width: 1200px){
    .user_chat_popup {   right: 0;   top: 0;}
    .nw-profiles-otr ul li{ width:25%;}
    .user_profile_popup #all-users li {    width:50%;}
    .prfl-img-cnt h4{ font-size:15px;}
    .page-section-profile .item h3{ font-size:16px;}
    #main-slider .col-md-5 {    padding: 0;}
    #main-slider h1 {
        font-size: 34px;
        line-height: 50px;
    } 
}
@media(max-width: 1199px){
    .navbar>ul>li {
        margin-left: 19px;
    }
    .chat-window-box li {
        padding: 0 20px;
    }
    .act_profile {
        width: 25%;
        margin: 10px 0px;
    }
    .user_search_inner .send_proposal_btn {
        padding: 10px 7px 10px 32px;
    }

    .user_search_inner .send_proposal_btn:before {
        left: 7px;
    }
    .profile_search_bar .form_group label.label {
        display: block;
    }
}
@media(max-width: 1024px){
    .send-box{padding: 30px 30px 30px 130px;
    background-size: 35%;}
}
/*==== My Responsive css ====*/
@media screen and (min-width:992px) {
    .navbar li a:hover, .navbar li a:active, .navbar li a:focus {
     color: #000000;
    }
    .search-bar-btn{
        display: none;
    }
    .navbar .credit_count_mb{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block
    }
    .tab-select-outer {
    display: none
    }
    .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0
    }
}
@media screen and (max-width:991px) {
    .sign-in-up .modal-content {
        padding: 20px 25px;
    }
    .modal_dialog_big {
        max-width: none;
        margin: 30px auto;
        width: 90%;
    }
    .form_left_part {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    .form_right_part {
        padding-left: 0;
        display: inline-block;
        width: 100%;
        padding-top: 24px;
    }
}
@media (min-width:921px) {
    .cnfrm_right_img {
        position: absolute;
        right: 0;
        bottom: -6px;
    }
}
@media only screen and (max-width:990px) {
    .navbar .nav-title {
        display: none;
    }
}
@media only screen and (max-width:991px) {
    .profile_search_bar {
        padding: 15px;
        display: none;
        margin-top: 0;
    }
    .profile_search_bar .form_group label.label{
        display: block;
    }
    .profile_search_bar .form_input {
        display: block;
    }
    .profile_search_bar .form_group {
        width: 25%;
        float: left;
    }
    .profile_search_bar .button_group {
        width: 40%;
    }
    .profile_search_bar .form_group input, 
    .profile_search_bar .form_group select {
        width: 100%;
    }
    .profile_search_bar .age_group .form_input select {
        width: 50%;
        float: left;
    }
    .profile_search_bar .check_box {
        margin-top: 30px;
    }
    .profile_search_bar .pro_search_btn {
        width: 100%;
    }
    #profile_popup {
        margin-top: 20px;
    }
}
/*==== My Responsive css ====*/

@media(min-width: 768px) and (max-width: 991px){
    #wallet .modal-dialog {
        max-width: 700px;
        width: auto;
    }
}
@media(max-width: 991px) {
    .act_profile{
        width: 33.33%;
    }
    .activity_tab .tab_menu li {
        padding: 13px 18px;
        font-size: 14px;
    }
    .act_pic_content h3 {
        font-size: 16px;
    }
    .chat_tabs .nav-pills > li {
        width: 33.3%;
        text-align: center;
    }
    /* wallet css*/
    .wallet_lft {
        width: 70%;
    }
    .wallet_rgt {
        width: 30%;
    }
    .wallet_lft .wallet_img {
        width: 100px;
    }
    /* wallet css*/
}
@media(max-width: 768px) {
    #chat_modal {
        background: rgba(0, 0, 0, 0.80);
    }
}
@media(max-width: 767px) {
    .profile_search_bar .form_group {
        width: 50%;
        float: left;
    }
    .profile_search_bar .button_group {
        width: 100%;
    }
    .profile_search_bar .pro_search_btn {
        margin-top: 0px;
    }
    .popup_content {
        padding: 25px 20px;
    }
    .birthday_select .input_group > div {
        margin-bottom: 7px;
    }
    .splash_content_bg {
        background-position: center right;
    }
    .fl_login_bg {
        background-position: top right;
    }
     /*wallet css*/
    .wallet_lft {
        float: left;
        width: 50%;
    }
    .wallet_rgt {
        float: right;
        width: 50%;
    }
    /*wallet css*/
}
@media(max-width: 767px) {
    .section-title.row {
    width: 100%;
    }
    .section-title h2 {
    font-size: 36px;
    }
    .banner-form .btn-primary {
    font-size: 14px;
    }
    header .dropdown {
       margin-left: 15px;
    }
    header .dropdown-toggle {
    margin: 0px;
    }
    .dropdown-menu {
        float: none!important;
    }
    .dropdown-backdrop {
      position: initial;
    }
    .col-md-6.age_field {
      margin-top: 10px;
    }
    .dropdown.pull-right.tbtwodrop {
      text-align: right;
    }
    nav.navbar.pull-right ul {
      text-align: center;
    }
    .profile_img img {
    width: 50%;
    }
    .profile_cover_panel {
    padding-left: 0px;
    }
    .profile_cover_pic_outer {
      height: 240px;
    }
    .row.ask_question {
      width: 100%;
    }
    .sign-in-up .modal-dialog {
      width: 90%;
      margin: 0 auto;
    }
    .sign-in-up #login-google {
      width: auto;
    }
    .registration_panel {
      text-align: center;
    }
    .SettingsListLink span.setting_action, .SettingsListLink span, .SettingsListLink span.setting_action {
      text-align: center;
      display: block;
    }
    .Settings_detail table td {
      padding: 5px;
      display: block;
    }
    .Settings_detail button {
      margin: 5px 10px;
    }
    .profile_cover_pic_outer {
      padding: 0;
    }
    .user_search_inner button {
      padding: 10px 14px 10px 14px;
    }
    .user_search_inner button::before {
      display: none;
    }
    .row.send-box-panel {
        float: none;
        width: auto;
    }
    .send-box {
        padding: 30px 30px 30px 60px;
        text-align: right;
    }
    .send-box.send-email, .send-box.send-gift {
        background-size: 25%;
    }
    .send-box-panel .col-md-6 {
        padding: 0px 15px;
    }
    .row.gallery-box-panel, .row.user_about_info, .search_detail #search-page {
        float: none;
        width: auto;
    }
    .gallery_bg, .user_about_info_inner {
        margin-bottom: 15px;
    }
    .search_list_outer .chat_sidebar {
        padding: 0px 15px
    }
    .gallery-box-panel .col-md-4, .user_about_info .col-md-4, #search-page .col-md-4 {
        padding: 0px 15px;
    }
    #search-page h5 {
        margin: 0px 0px 10px;
    }
    .faq-feature .col-md-3 {
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    .faq_list_panel .row.ask_question {
        padding: 20px 0px;
        margin: 0px;
    }
    .send-box.send-email {
        margin-bottom: 10px;
    }
    .inbox_outer .table>tbody>tr>td {
        vertical-align: text-top;
    }
    #reply-modal .modal-dialog {
    width: auto;
    }
    .user_about_info_inner {
    min-height: auto;
    }
    .profile-user-information {
    background-size: 16%;
    }
    .profile_cover_panel .btn {
       vertical-align: top;
    }
    .profile_user_info {
    min-height: auto;
    }
    .user_info_inner {
        width: 100%;
    }
    .user_search_inner {
       width: 100%;
    }
    .date_bg h2 {
        font-size: 23px;
        color: #fff;
        line-height: 32px;
    }
    .banner_form_inner .form-inner .control-label {
        color: #fff;
    }
}
@media(max-width: 767px){
    .user_search_inner .send_proposal_btn {
        padding: 10px 30px 10px 30px;
        text-align: center;
    }
    .profile_img {
     
    }
    .activity_tab .tab_menu {
        display: none;
    }
    .tab_heading{
        display: block;
    }
    .active_accordion .tab_content {
        display: block; 
        padding: 0;
        margin-bottom: 3px;
    }
    .active_accordion .tab_content_inner {
        display: none;
        padding: 10px;
    }
    .user_search_inner input[type=search] {
        width: calc(100% - 88px);
        width: -webkit-calc(100% - 88px);
        width: -moz-calc(100% - 88px);
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    header .dropdown-toggle {
    margin: 0;
    }
    .navbar>ul>li:last-child a {
    padding: 8px 12px;
    }
    .presence_status label {
    font-size: 12px;
    margin-left: 8px;
    }
    .pull-right>.dropdown-menu {
    margin-top: 20px;
    }
    ul#mood_option {
    margin-top: 15px;
    }
    .faq-feature-inner .faq-icon {
    margin: 0;
    }
    .row.ask_question {
    width: 80%;
    }
    .profile_cover_pic_outer {
    height: 240px;
    position: relative;
    }
    .profile_img img {
    width: 115px;
    }
    .gallery_bg, .user_about_info_inner {
    margin-bottom: 15px;
    }
    .faq-feature .col-md-3 {
    padding: 0px 15px;
    margin-bottom: 15px;
    }
    .user_about_info_inner {
    min-height: auto;
    }
    .send-box.send-email {
    margin-bottom: 10px;
    }
    .chat-user-btn {
    width: 25%;
    }
    .profile_user_info {
    float: none;
    width: auto;
    min-height: auto;
    }
    .profile_cover_panel .btn {
    vertical-align: top;
    }
    .chat-user-btn button {
    padding: 4px 8px;
    font-size: 12px;
    }
}
@media(max-width: 991px) {
    .form-inner, .form-inner .form-group { 

    }
    .chat-user-box img{ 
        width:70px; height:70px;
    }
    .navbar .nav-title{ display:none !important;}
    .navbar .nav-icon{ display:block !important; font-size: 24px;}
    .navbar>ul>li {
        margin-left: 15px;
        margin-top: 0;
    }
    .search_faq h4 {
    text-align: left;
    }
    .navbar ul li .notify_text {
        font-size: 12px;
        top: -11px;
        margin-left: -3px;
    }
    .user_search_inner .pad_l_n {
        padding-left: 15px;
    }
    /*banner form css*/
    .home_banner .form_left {
        width: 100%;
    }
    .home_banner .form_group {
		float: left;
		width: 50%;
		padding: 6px 15px;
	}
    .home_banner .form_btn {
        float: left;
        width: 100%;
    }
    .home_banner .find_btn {
        line-height: 45px;
        font-size: 15px;
        border-radius: 0 !important;
    }
    /*banner form css*/
}
@media(max-width: 767px){
    .slider_caption {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 19px;
    }
     .banner_form_inner {
        display: inline-block;
        background: rgba(21, 17, 17, 0.23);
    }
    /*banner form css*/
    .form_group_wrap {
        display: inline-block;
        width: 100%;
    }
    .home_banner .form_group {
        float: left;
        width: 50%;
        padding: 12px 20px;
    }
    .select-left {
        display: inline-block;
    }
    .banner-form .selectpicker {
        color: #ffffff;
        border-color: #fff;
    }
    .home_hometown {
        color: #fff;
        border-color: #fff;
    }
    .select-divider {
        display: inline-block;
        color: #fff;
        vertical-align: middle;
    }
	.home_banner .form_group select{
		color:#ffffff;
		border-color:#ffffff;
	}
	.home_banner .form_group select option{
		color:#000000;
	}
    /*banner form css*/
}
@media(min-width: 992px) and (max-width: 1024px) {
    .inbox_outer .user_chat_popup{padding: 5% 0;}
    .navbar>ul>li {
    margin-left: 15px;
    }
    .chat-user-btn {
    width: 25%;
    }
    .chat-user-btn button {
    padding: 4px 8px;
    }
    .send-box a {
    padding: 10px 9px;
    font-size: 12px;
    }
    .send-box a i {
    font-size: 19px;
    }
    .user_about_info_inner h4 {
    font-size: 20px;
    }
    .profile_cover_panel {
    padding-left: 0px;
    padding-top: 70px;
    }
    .profile_cover_pic_outer {
    position: relative;
    }
}

@media only screen and (max-width:990px){
    .box_casual{ margin-bottom: 30px; }
}
@media(max-width: 767px){
.nw-profiles-otr ul li{width: 33.33%}
.search_list_outer .chat_sidebar{position: initial;}
.inbox_outer .chat-sender-box{ 
    padding:10px;
    bottom: 0;
}
.chat-window-box li{ padding:0 10px;}
.profile_fake_chat .chat-window-box li{padding:0 10px;}
.search_list_outer{ padding-top:60px;}
.prfl-img-cnt h4{font-size: 14px;padding-bottom: 0;}
}
@media(min-width: 768px) and (max-width: 991px){
.prfl-img-cnt h4{font-size: 14px;}
.search_list_outer .chat_sidebar{
    position: initial;
    }
}

@media(max-width: 991px){
    #main-slider h1 {
        font-size: 29px;
        margin-top: 15px;
        line-height: 39px;
    }
    /*==== confirm popup css start =====*/
    .cnfrm_inner_cover .cong_heading {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .cnfrm_inner_cover .success_heading {
        font-size: 20px;
    }
    .cnfrm_inner_cover .email_text {
        font-size: 15px;
    }
    .email_button a {
        font-size: 15px;
        padding: 0 35px;
    }
    .bottom_p_notes {
        margin-top: 25px;
    }
    .bottom_p_notes ul li {
        margin-bottom: 8px;
        font-size: 14px;
    }
    /*==== confirm popup css end =====*/
}
@media(max-width: 990px){
    header {
        padding: 10px 0;
    }
    .mobile_info{ display:block !important;}
    .desktop-info{ display:none !important;}
    .dropdown.dropdown-large.mobile_info{ display:inline-block !important}
    header .tbtwodrop .dropdown-toggle {
        margin: 4px 0px 0;
        font-size: 23px;
    }
    .navbar {   margin: 12px 15px 0 0; min-height:10px;}
    .chat_sidebar{ display:none;}
    .main-content{ width:100%;}
    .search_list_outer {    padding-top: 70px;}
}

@media(max-width: 920px){
    /*==== confirm popup css start =====*/
    .cnfrm_right_img {
        float: right;
        width: 100%;
        text-align: center;
      padding-top: 20px;
    }
    .cnfrm_img{
        display: inline-block;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #ec155a;
    }
    .cnfrm_img img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .cnfrm_left_content {
        float: left;
        width: 100%;
    }
    /*==== confirm popup css end =====*/
}
@media(max-width: 767px){
    .cnfrm_img{
        width: 150px;
        height: 150px;
        border-width: 3px;
    }
    .cnfrm_inner_cover .cong_heading {
        font-size: 27px;
    }
    .cnfrm_inner_cover .success_heading {
        font-size: 17px;
        line-height: 25px;
    }
    .cnfrm_inner_cover .email_text {
        font-size: 14px;
    }
    .inbox_outer .chat-window-box {
        height: 300px;
        max-height: 300px;
    }
}
@media(max-width: 767px){
    .outer_wrapper{width: 100%;}
    .boxdate{margin: 0px;}
    .box_casual{margin-bottom: 15px;}
    .bold_cont h3{font-size: 20px;}
    .boldbtn {margin-top: 0px;}
    section#main-slider.main-slider2{padding: 30px 0px 120px;}
    #chat_request_option,#my-contact_option,#mood_option{   width: 300px;}
    #search_profile_option .col-md-6.col-xs-6 { text-align:left;    width: 100%;}
    .search_profile_match .age_field > label {
        display: block;
    }
    #Interests ul{ text-align:left;}
    .additional-options .col-xs-8 ,.additional-options .col-xs-4 {  width: 50%;}
    #Interests li{ display:block;}
    .mood_option_outer .mood_radio{ width:50%;}
    .mood_radio svg {    width: 75px;}
    .selector > span{ padding:5px 10px;}
    #mood_option{ height:300px; overflow:scroll;}
}
@media(min-width: 768px) and (max-width: 991px){
    .outer_wrapper{width: 100%;}
    .box_casual {margin-bottom: 0px;}
    section#main-slider.main-slider2 {
    padding-bottom: 120px;padding-top: 50px;}
}
@media(max-width:990px){
    .send-box-panel .col-md-6 {    width: 50%;    float: left;}
    .send-box{padding: 30px 30px 30px 130px;background-size: 33%;}
    section#main-slider{ padding-top:20px; padding-bottom:50px;}
    .signin_btn {
        padding-bottom: 20px;
        padding-top: 15px;
    }
    .desktop_logo {  width: 250px;  display: inline-block;margin: 15px 0 0;}
    .section-title.row{ width:auto;}
    .nav-tabs > li > a{ margin-right:0; padding:10px 10px}
    .pymnt-form{ width:100%;}.coin-list ul li{ width:50%; margin:5px 0}
}
@media(max-width: 768px){
    .chat-btn-icon{ /*display:block; */}
     .chat-window-panel-inner {
        position: relative;
        top: 0;
        height: 100%;
        overflow-y: auto;
        background: url(https://kabayanzone.ae/carol/datingApp/public/images/heart-bg.png) center #F5F5F5;
        border: none;
        padding-bottom: 60px;
    }
    .chat-sender-box {
    position: fixed;
    width: 100%;
    bottom: 0; padding:5px;
    }
    .chat-sender-box a {
    position: absolute;
    top: 15px;
    right: 65px;
    }
    .chat-sender-box .form-control{ height:50px; padding-right: 85px;}
    .chat-sender-box .btn.btn-primary {
        width:100%; border-radius:0;width: 50px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 5px;
        margin: 0;
        height: 50px;
    }
    .outer_wrapper{width: 100%;}
    .boxdate{margin: 0px;}
    .box_casual{margin-bottom: 15px;}
    .bold_cont h3{font-size: 20px;}
    .boldbtn {margin-top: 0px;}
    section#main-slider.main-slider2{padding: 30px 0px 120px;}
    .user_chat_popup.affix, .user_chat_popup {
        position: relative;
        left: 0;
        float: left;
        margin-top: 13px;
    }
    .chat-sender-box{background: #F5F3F2;}.prfl-otr{ min-height:100px;}
    .prfl-img-cnt p{/*height: 40px;*/overflow:hidden;margin: 0;}
    .user_about_info_inner{ height:auto;}
    .send-box-panel .col-md-6 {    width: 100%;    float: none;}
}
@media(max-width: 767px){
    .desktop_logo{ display:none;}
    .mobile_logo{ display:block; float: left;width: 160px;}
    #main-slider .col-md-7.col-sm-5{ display:none;}
    .banner-form {
        max-width: 500px;
        margin: 0 auto;
        width: auto;
    }
    .action.medium {    font-size: 12px;    font-weight: 600;    text-transform: uppercase;}
    section#main-slider{ padding-top:10px;}
    .signin_btn{float:right;}
    .banner-form .col-xs-7 {    padding: 0 10px;}
    .banner-form .col-xs-5 {    padding: 0 10px;}
    .banner-form .col-xs-6 {    padding-right: 0;}
    .table-responsive.chating_table{
        border:none;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .outer_wrapper{width: 100%;}
    .box_casual {margin-bottom: 0px;}
    section#main-slider.main-slider2 {
    padding-bottom: 120px;padding-top: 50px;}
}
/*chatbox popup end*/

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}
@media only screen and (max-width: 767px){
    .upgrade-popup .tab .nav-tabs li{ margin: 0 25px 0 0; }
}
@media (min-width: 768px) {
  .panel-heading {
    display: none;
  }
  .panel {
    border: none;
    box-shadow: none;
  }
  .panel-collapse {
    height: auto;
  }
  .panel-collapse.collapse {
    display: block;
  }
}
@media (max-width: 767px) {
    .tab-content .tab-pane {
   /* display: block;*/
    }
    .nav-tabs {
    display: none;
    }
    .panel-title a {
    display: block;
    }
    .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
    }
    .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
    }
    .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
    }
    .chat_icon_outer {
    position: fixed;
    float: left;
    width: 100%;
    bottom: 0100px;
    z-index: 9999;
    }
    .inbox_outer .user_chat_popup{padding: 0}
}
/*======== My Responsive Css ========*/
@media(max-width: 991px){
    .flipster {
        padding-bottom: 30px;
    }
    .pymnt-form .payment_right {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }
    .profile-like label {
        margin-left: 5px;
    }
}
@media(min-width: 768px){
    .contact_form .form_group .width_50 {
        padding: 0 4px;
    }
}
@media(max-width: 767px){
    .width_50 {
        width: 100%;
    }
    .signup_banner_text {
        max-width: initial;
        width: 100%;
    }
    #main-slider {
        background-attachment: scroll;
        background-position: center center;
    }
    .signup_banner {
        background-attachment: scroll;
    }
    .wallet_col {
        width: 50%;
    }
    .like_page_wrapper, .activity_wrapper {
        margin-top: 63px;
        padding: 40px 0;
    }
    .like_box_wrapper {
        padding: 30px 15px;
    }
    .like_popup_box {
        padding: 10px 20px;
    }
    .payment_table.table-responsive{
        border:none;
    }
    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
        display: block;
    }
    .dataTables_wrapper .dataTables_info, 
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
        width: 100%;
        display: block;
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-bottom: 15px;
    }
}
/*======== My Responsive Css ========*/

@media(min-width: 768px){
    .user_chat_popup #close {
        display: none;
    }
}
@media(max-width: 767px){
    .inbox_outer  .user_chat_popup .fa-close{ display:block;}
    .chat_thumb .unread_msg {
        margin-right: 0;
        position: absolute;
        left: 12px;
        top: 10px;
        border-radius: 50%;
    }
    .back_btn_wrap, .chat_user_profile{
        display: none;
    }

    .back_btn_wrap {
        margin: 15px 0 0;
    }
    .back_btn_wrap .back_btn {
        display: inline-block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }
    .chating_list .chat_thumb {
        width: 85px;
    }
    .chat_msg {
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .chat_proposal_wrap{
        bottom: 21px;
    }
    .emoji-list{
        bottom: 21px;
    }
}
@media(max-width: 767px){
    .back-search-link {
        text-align: center;
    }
    .pro_detail_left {
        width: 100%;
        text-align: center;
    }
    .profile_cover_panel {
        display: inline-block;
    }
    .pro_detail_right {
        width: 100%;
        margin-top: 25px;
    }
}
@media(max-width: 660px){
    .page-section-profile .col-md-2.col-sm-4.col-xs-4 {  width: 50%;}
}
@media(max-width: 650px){

}
@media(max-width: 600px){
    .act_profile {
        width: 50%;
    }
   .act_profile_inr {
        padding: 0;
        text-align: center;
    }
    .act_pic_dv {
        float: left;
        width: 100%;
    }
    .chat_msg {
        max-width: 200px;
    }
    .chat-user-message .chat_border .chat_imgs {
        width: 80px;
    }
    .chat-user-message .chat_border .chat_imgs img {
        max-width: 100%;
        height: auto;
    }
    .chat-user-right .chat_txt_wrp {
        padding-left: 90px;
    }
    .chat-user-left .chat_txt_wrp {
        padding-right: 90px;
    }
}
@media(max-width: 520px){
    .navbar li.first-child {
        display: none;
    }
    .navbar, .dropdown.dropdown-large {position: static;}
    header .col-md-3{ display:none;}
    header .col-md-9{ width:100%;}
    .navbar.pull-right {    float: left !important;}
    #chat_request_option,#my-contact_option,#mood_option, #search_profile_option{ width: 94%;margin-right: 3%;}
}
@media(max-width: 520px) {
    header .tbtwodrop .dropdown-toggle {
        margin: 4px 0px 0;
        font-size: 23px;
    }
    .navbar {
        margin: 7px 0px 0 0;
    }
    .navbar > ul > li {
        margin: 0 5px;
    }
    .navbar .nav-icon {
        font-size: 20px;
    }
    .like_page_wrapper, .activity_wrapper {
        margin-top: 48px;
        padding: 20px 0;
    }
    .like_box_wrapper {
        background: transparent;
        padding: 0;
    }
    .like_img_box .like_img {
        height: 320px;
        text-align: center;
    }
    .like_img img {
        border-radius: 10px;
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
        width: auto;
        height: auto;
    }
    .like_img_box .like_detail {
        padding: 10px 12px;
    }
    .like_detail h3 {
        font-size: 17px;
        margin-bottom: 7px;
    }
    .like_detail span {
        font-size: 13px;
    }
}
@media(max-width: 500px){
    .profile_search_bar .form_group {
        width: 100%;
        float: left;
    }
    .profile_search_bar .check_box {
        margin-top: 0;
    }
    .popup_confirm_buttons {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .popup_confirm_buttons .buttons {
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        font-size: 14px;
    }
    .popup_confirm_buttons .confirm_btn{
        float:none;
    }
    .like_popup_box {
        padding: 20px 5px;
    }
}
@media(max-width: 575px){
    .wallet_p_box {
        min-height: auto;
        padding: 15px;
    }
    .wallet_p_box .wallet_img img {
        width: 60px;
    }
    .wallet_p_box h2 {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 0;
    }
    .wallet_p_box h3 {
        font-size: 14px;
        margin-top: 10px;
    }
    .wallet_p_box .wallet_btn {
        margin-bottom: 10px;
        font-size: 13px;
        padding: 6px 15px;
    }
}
@media(max-width: 575px){
    .wallet_col {
        width: 100%;
        padding: 0 15px;
    }
    .back-search-link {
        margin-bottom: 18px;
    }
    .profile_img {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
    .like-main, .like-main1 {
        margin: 10px 3px 0px;
        padding: 0;
    }
    .cover-search-link a, .back-search-link a {
        font-size: 14px;
        padding: 9px 15px;
        font-weight: 600;
    }
    .user_info_inner h3 {
        font-size: 18px;
        margin-top: 7px;
        margin-bottom: 1px;
    }
    .pro_img_cover .status {
        font-size: 13px;
    }
    .pro_detail_right {
        margin-top: 15px;
    }
    .chat_now_box .msg_textarea {
        height: 130px;
    }
    .pro_chat_form .cke .cke_contents.cke_reset {
        height: 105px !important;
    }
    .pro_chat_form_btn{
        margin-top: 0px;
    }
}
@media only screen and (max-width:480px){
    .box_casual:hover .icon1{ left: 27%; }
    .box_casual:hover .icon2{ right: 27%; }
    .cnfrm_inner_cover{
        padding: 20px;
    }
    .cnfrm_inner_cover .cong_heading {
        font-size: 25px;
    }
    .email_text_2 #updateemail {
        width: 100%;
    }
}
@media(max-width: 350px){
    .cnfrm_inner_cover .cong_heading {
        font-size: 20px;
    }
}
@media(max-width: 480px){
      .page-section-profile .col-md-2.col-sm-4.col-xs-4 { 
        width: 100%;
      } 
    .act_profile {
        padding: 0 2px;
        margin: 1px 0px;
    }
    .act_pic_content h3 {
        font-size: 15px;
    }
    .act_pic_content .act_time {
        font-size: 13px;
    }
    .chating_list .chat_thumb {
        width: 75px;
    }
    .inbox-name {
        max-width: 100px;
    }
    .chat_time {
        font-size: 12px;
    }
    .chat-user-box{
        width: 100px;
    }
    .chat-user-box span {
        max-width: 90px;
    }
    .chat-user-left .chat-user-message {
        padding-left: 100px;
    }
    .chat-user-right .chat-user-message {
        padding-right: 100px;
    }
    .chat-user-left .chat_txt_wrp, .chat-user-right .chat_txt_wrp {
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
        display: inline-block;
        width: 100%;
    }
    .chat-user-right .chat_imgs, .chat-user-left .chat_imgs {
        float: none;
    }
}
@media (max-width: 480px){
    .splash_content_bg .splash_content {
        padding: 80px 30px;
    }
    .splash_form .two_button_group .form_btn {
        width: 100%;
    }
}
@media only screen and (max-width: 479px){
    .upgrade-popup .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .upgrade-popup .tab .nav-tabs li:after{
        width: 0;
        height: 100%;
        top: auto;
        bottom: -60%;
        right: 50%;
    }
}
@media(max-width: 480px){
    .skills_section .col-xs-6 {
        width: 100%;
    }
    .nw-profiles-otr ul li{
        width:50%;
    }
    .inbox_outer .chat-sender-box {
        padding: 10px 0px 0px 0px !important;
    }
    .chat_notifi_box_wrap {
        right: auto;
        left: 20px;
    }
    .slider_caption {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    #main-slider h1 {
        font-size: 23px;
        margin-top: 0;
        line-height: 30px;
        margin-bottom: 0;
        padding-left: 0;
        line-height: 38px;
    }
    /*=== inbox message button design ==*/
    .pro_chat_form_btn .chat_btns {
        margin: 5px 0px 0;
    }
    .pro_chat_form_btn .emoji_btn {
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        font-size: 20px;
    }
    .chat_footer_inr .chat_icons {
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        font-size: 19px;
    }
    .user_search_inner .chat_btns button {
        height: 35px;
        padding: 0 14px;
        font-size: 13px;
    }
    .chat_btns_design {
        height: 35px;
    }
    .chat_btns_design .iconss {
        width: 30px;
        height: 33px;
        line-height: 33px;
        padding: 0 0px;
        font-size: 13px;
    }
    .chat_btns_design .texts {
        padding: 6px 7px;
    }
    .chat_icons_wrap .send_btn {
        height: 35px;
        padding: 0 14px;
        font-size: 12px;
    }
    .pro_chat_form_btn .chat_btns button {
        padding: 0 14px;
        height: 35px;
        font-size: 13px;
    }
    /*=== inbox message button design ==*/
}
@media(max-width: 450px){
    .banner-form{ width:97%; margin:10px auto 0}.form-inner{ padding-top:0;}
    .banner-form .col-xs-7,.banner-form .col-xs-5{ width:100%; text-align:left;}
    .signin_btn,.mobile_logo{ width:100%; text-align:center;}
    .login_popup {
        margin: 16px auto 0;
    }
    .signin_btn li{  position:static}.signin_btn li ul{ left:0}
    .login_popup_wrappers{
        top: 104px !important;
    }
}
@media(max-width: 420px){
    .wallet_p_box {
        padding: 10px;
    }
    .wallet_lft .wallet_img {
        width: 80px;
    }
    .wallet_p_box .wallet_img img {
        width: 50px;
    }
    .wallet_p_box h2 {
        font-size: 14px;
        margin-top: 4px;
    }
    .wallet_p_box .wallet_btn {
        font-size: 12px;
        padding: 6px 12px;
        margin-top: 8px;
    }
    .w_info_btn {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }
}
@media(max-width: 410px){
    .chat_notifi_box_wrap {
        left: 10px;
        width: 300px;
        padding: 15px;
    }
    .chat_notifi_box .img_wrapper {
        width: 85px;
        height: 85px;
    }
    .ct_info_wrapper {
        padding-left: 100px;
    }
    .title_head h4 {
        font-size: 16px;
        display: block;
    }
    .title_head .active_status{
        float: left;
    }
    .ct_info_wrapper p {
        line-height: 20px;
        font-size: 13px;
    }
}
@media(max-width: 400px){
    .send-box {
        padding: 20px;
        background-image: none !important;
        text-align: left;
    }
    .page-section-profile .profile_img {
        width: 140px;
        height: 140px; 
        border-width: 4px;
    }
    .select-divider{
        width: 15px;
    }
}
@media(max-width: 375px){
    .chat-user-left .chat-user-message {
        padding-left: 0;
        display: inline-block;
        width: 100%;
        padding-top: 5px;
    } 
    .chat-user-right .chat-user-message {
        padding-right: 0;
        display: inline-block;
        width: 100%;
        padding-top: 5px;
    } 
}
@media(max-width: 350px){
    .nw-profiles-otr ul li{ 
        width:100%
    }
    .prfl-otr {
        max-width: 185px;
        margin: 0px auto 10px;
    }
    .prfl-img{
        height: 184px;
    }
    .prfl-img img {
        width: auto;
        height: auto;
    }
    .act_profile {
        width: auto;
        max-width: 200px;
        margin: 5px auto;
        float: none;
    }
    .search_profile_match .age_field .customized-select {
        width: 84px;
    }
}
@media(max-width: 320px){
    .home_prof_box{
        width: 100%;
    }
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    .chat_submit_box .chat-btn-text {
        height: 40px;
        width: 40px;
        line-height: 38px;
        font-size: 16px;
        text-align: center;
    }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    .chat_submit_box .chat-btn-text {
        height: 40px;
        width: 40px;
        line-height: 38px;
        font-size: 16px;
        text-align: center;
    }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    .chat_submit_box .chat-btn-text {
        height: 40px;
        width: 40px;
        line-height: 38px;
        font-size: 16px;
        text-align: center;
    }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
     .chat_submit_box .chat-btn-text {
        height: 40px;
        width: 40px;
        line-height: 38px;
        font-size: 16px;
        text-align: center;
    }
}

 